body {
    background-color: #2d197c;
    line-height: 1.5em;
}

main {
    background-color: white;
    border-radius: 10px;
    width: 90%;
    max-width: 780px;
    /* height: 400px; */
    margin: 120px auto;
    padding: 30px;
}

main h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

/* 入力フォーム枠 */
input {
    border: 2px solid rgb(207, 207, 207);
    outline: none;
    border-radius: 5px;
}
/* エラーメッセージ */
.error__message {
    color: red;
    margin-bottom: 20px;
    list-style: none;
}

/*  */
/* 新規作成フォーム */
/*  */
.form__create {
    display: flex;
    justify-content: space-between;
}
/* 入力フォーム */
#content {
    width: 80%;
    height: 32px;
    margin-bottom: 30px;
}
/* ボタン */
.submit__create,
.submit__update,
.submit__delete {
    border-radius: 5px;
    height: 38px;
    width: 60px;
    background-color: white;
    border: 2px solid rgb(225, 130, 238);
    color: rgb(225, 130, 238);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
}
/* 追加ボタン色変更 */
.submit__create:hover {
    background-color: rgb(225, 130, 238);
    color: white;
}
/* 更新ボタン色 */
.submit__update {
    border-color: rgb(255, 192, 74);
    color: rgb(255, 192, 74);
}
/* 更新ボタン色変更 */
.submit__update:hover {
    background-color: rgb(255, 192, 74);
    color: white;
}
/* 削除ボタン色 */
.submit__delete {
    border-color: rgb(92, 255, 100);
    color: rgb(92, 255, 100);
}
/* 削除ボタン色変更 */
.submit__delete:hover {
    background-color: rgb(92, 255, 100);
    color: white;
}
/*  */
/* タスク一覧テーブル */
/*  */
.task__table {
    width: 100%;
    text-align: center;
}
/* カラム幅 */
.task__table tr td:first-of-type {
    width: 38%;
}
.task__table tr td:nth-last-of-type(2) {
    width: 12%;
}
.task__table tr td:last-of-type {
    width: 12%;
}
/* 行幅 */
.task__table tr {
    height: 50px;
}
/* 表示・更新・削除用入力フォーム */
.input__content {
    width: 90%;
    height: 24px;
}
